@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import 'base.css';
@import 'sidebar.css';
@import 'login.css';
@import 'layout.css';
@import 'components.css';
@import 'loader.css';
@import 'dashboard.css';
@import 'alert.css';
